@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bungee+Shade&display=swap");

* {
    margin: 0;
    padding: 0;
    color: #1d1d1f;
    box-sizing: border-box;
}

body {
    font-family: "Montserrat", sans-serif;
}

/* navbar */
nav {
    font-size: 1em;
    height: 6em;
    background-color: white;
    position: fixed;
    top: 0;
    width: 100%;
    transition: 0.5s;
    z-index: 999;
    box-shadow: 0 2px 4px -2px rgba(0, 0, 0, 0.2);
}

nav > ul {
    width: 100%;
    height: 100%;
    display: flex;
    list-style-type: none;
    align-items: center;
    justify-content: center;
    gap: 30px;
}

nav > ul > li {
    display: flex;
    text-align: center;
    vertical-align: middle;
}

nav > ul > li > a {
    text-decoration: none;
}

nav > ul > li > a:hover {
    font-weight: 600;
}

/* Reserve space for on hover font-weight change */
nav > ul > li > a::after {
    display: block;
    content: attr(title);
    font-weight: bold;
    height: 1px;
    color: transparent;
    overflow: hidden;
    visibility: hidden;
}

nav > ul > li > h1 {
    margin-left: 1em;
    margin-right: 1em;
    vertical-align: middle;
    text-transform: uppercase;
    font-weight: 800;
    color: #1d1d1f;
}

.navbar-small {
    height: 4em;
    transition: 0.5s;
}

/* Cover photo */
.cover-photo {
    width: 100%;
    margin-top: 6em;
}

.cover-photo-inner {
    width: 100%;
    height: calc(100vh - 6em);
    object-fit: cover;
}

.cover-photo-title {
    font-family: "Bungee Shade", cursive;
    position: absolute;
    font-size: 4em;
    text-align: center;
    color: #fff;
    top: 18%;
    left: 50%;
    transform: translate(-50%, -50%);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.cover-photo-subtitle {
    position: absolute;
    font-size: 3em;
    text-align: center;
    color: #fff;
    top: 26%;
    left: 50%;
    transform: translate(-50%, -50%);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

/* Our restaurants section */
.our-restaurants {
    margin-top: 6em;
    width: 100%;
    display: flex;
    gap: 20px;
    align-items: center;
    flex-direction: column;
}

.our-restaurants-title {
    margin: 0.4em;
    text-align: center;
    font-size: 36px;
    font-weight: 400;
}

.our-restaurants-map {
    width: 55%;
    height: 450px;
}

.our-restaurants > .locations {
    margin-top: 1rem;
    display: flex;
    list-style-type: none;
    gap: 8rem;
}

.location {
    text-align: center;
}

.location > h3 {
    font-weight: 400;
    color: #2c2c2e;
}

.location > p {
    color: #585757;
}

/* Footer */
footer {
    background-color: #1d1d1f;
    margin-top: 6em;
}

.footer-grid {
    display: grid;
    height: 100%;
    grid-template-rows: 1fr 2fr 1fr 1fr;
    grid-template-columns: 1fr 4fr 2fr 2fr 1fr;
    grid-template-areas:
        ". . . . ."
        ". title address reservation ."
        ". socials . reservation ."
        ". . . . .";
}

h1 {
    color: inherit;
}

li {
    color: #fff;
}

.footer-title {
    display: flex;
    align-self: center;
    color: #fff;
    grid-area: title;
    justify-content: center;
}

.footer-title > h1 {
    font-size: 48px;
    font-weight: 300;
}

.footer-reservation {
    padding: 1em;
    grid-area: reservation;
}

.footer-item-title {
    font-weight: 400;
    color: #fff;
}

.footer-item-paragraph {
    margin-top: 0.1rem;
    color: #7c7c7c;
    font-weight: 400;
    font-size: 0.85em;
}

.footer-socials {
    color: #fff;
    grid-area: socials;
}

.footer-our-history {
    padding: 1em;
    grid-area: address;
}

.footer-socials-list {
    display: flex;
    gap: 20px;
    list-style-type: none;
    justify-content: center;
}

.footer-socials-icon {
    color: rgb(255, 255, 255);
    font-size: 1.6rem;
}

.footer-socials-icon:hover {
    color: rgb(184, 184, 184);
    cursor: pointer;
}

/* Styling for reservation us page */
.reservation-form {
    margin-left: 22%;
    margin-right: 22%;
    margin-top: 12em;
}

.grid-wrapper {
    display: grid;
    width: 100%;
    height: 1200px;
}

.grid-information > p {
    margin-top: 1rem;
}

.form-grid {
    width: 100%;
    margin-top: 6em;
}

.form-double > ul {
    display: flex;
    width: 100%;
    gap: 4em;
}

.form-double > ul > li {
    width: 100%;
}

.input {
    margin-top: 1rem;
    width: 100%;
    padding: 1rem;
    font-size: 12px;
    outline: none;
    border: 1px #2c2c2e solid;
    font-family: inherit;
}

.input:focus {
    box-shadow: 0 0 1pt 1pt rgb(58, 58, 58, 0.1);
}

.input-label {
    font-size: 12px;
}

.form-input-title {
    margin-top: 2rem;
    font-weight: 400;
}

.submit-button {
    display: block;
    margin-top: 2rem;
    width: 25%;
    padding-top: 1rem;
    padding-bottom: 1rem;
    border: 0;
    cursor: pointer;
    background-color: #c2c2c2;
    font-size: 18px;
    font-weight: 400;
}

/* Resize */
@media only screen and (max-width: 1840px) {
    .cover-photo-title {
        font-size: 3em;
        top: 18%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    
    .cover-photo-subtitle {
        font-size: 2em;
        top: 26%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}

@media only screen and (max-width: 1400px) {
    .cover-photo-title {
        font-size: 2.5em;
        top: 20%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .cover-photo-subtitle {
        font-size: 1.8em;
        top: 28%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}

@media only screen and (max-width: 1280px) {
    .our-restaurants-map {
        width: 80%;
    }
}

@media only screen and (max-width: 920px) {
    .locations {
        flex-direction: column;
    }

    .our-restaurants > .locations {
        gap: 2rem;
    }
}
